## Mid-Semester Break Assignment
### 
AltSchool of Data Science Tinyuka 2024 First Semester  Python Programming Language IV  Mid-Semester Break Assignmen 
In Proge

s
Load the energy data from the file Energy Indicators.xls, a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013. It should be put into a data frame with the variable name “Energy.”

Remember that this is an Excel file and not a comma-separated values file. Also, exclude the footer and header information from the data file. The first two columns are unnecessary, so you should get rid of them, and you should change the column labels so that the columns are:

[‘Country’, ‘Energy Supply’, ‘Energy Supply per Capita’, ‘% Ren`ewable]

Convert Energy Supply to gigajoules (Note: are 1,000,000 gigajoules in a petajoule). For all countries with missing data (e.g., data with “…”), ensure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

“United States of America”: “United States”,

“United Kingdom of Great Britain and Northern Ireland”: “United Kingdom”,

“China, Hong Kong Special Administrative Region”: “Hong Kong”“`

Several countries also have numbers and/or parenthesis in their name. Be sure to remove these, e.g., `’Bolivia (Plurinational State of)’` should be `’Bolivia’`.  `’Switzerland17’` should be `’Switzerland’`.

Next, load the GDP data from the file `world_bank.csv`, which is a CSV containing countries’ GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header and rename the following list of countries:

“`”Korea, Rep.”: “South Korea”, 

“Iran, Islamic Rep.”: “Iran”,

“Hong Kong SAR, China”: “Hong Kong”“`

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the area above. Call this DataFrame **ScimEn**.

Join the three datasets, GDP, Energy, and ScimEn, into a new dataset (using the intersection of country names). Use only the GDP data from the last 10 years (2006-2015) and the top 15 countries by Scimagojr ‘Rank’ (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be [‘Rank’, ‘Documents’, ‘Citable documents’, ‘Citations’, ‘Self-citations’,

       ‘Citations per document’, ‘H index’, ‘Energy Supply’,

       ‘Energy Supply per Capita’, ‘% Renewable’, ‘2006’, ‘2007’, ‘2008’,

       ‘2009’, ‘2010’, ‘2011’, ‘2012’, ‘2013’, ‘2014’, ‘2015’].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by “Rank”.*

Submission Instructions:

Submit as a Jupyter Notebook
Your Jupyter notebook should be your name
It should be submitted a day before resumption.
Focus Areas:

Proper documentation: Use PEP8 Guidelines, Notebook Mackdown, etc.
Explain the intuition of your code when and where necessary.

### Loading the Energy data

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Loading the Energy data into a dataframe
# exclude the header and footer information from the data
# use relevant columns and discard irrelevant columns
# change the column labels as specified
# change missing data "..." to NaN values

Energy = pd.read_excel('Energy Indicators.xls', 
                       header = 16, 
                       usecols = [2,3,4,5], 
                       skipfooter = 38,
                       names = ['Country', 'Energy Supply', 'Energy Supply per Capita', '%Renewable'],
                       skiprows = 1,
                       na_values = '...')

Energy.head()

          Country  Energy Supply  Energy Supply per Capita  %Renewable
0     Afghanistan          321.0                      10.0   78.669280
1         Albania          102.0                      35.0  100.000000
2         Algeria         1959.0                      51.0    0.551010
3  American Samoa            NaN                       NaN    0.641026
4         Andorra            9.0                     121.0   88.695650

In [3]:
#converting Energy Supply from pentajoules to gigajoules 

Energy['Energy Supply']= Energy['Energy Supply'] * 1_000_000

Energy.head()

          Country  Energy Supply  Energy Supply per Capita  %Renewable
0     Afghanistan   3.210000e+08                      10.0   78.669280
1         Albania   1.020000e+08                      35.0  100.000000
2         Algeria   1.959000e+09                      51.0    0.551010
3  American Samoa            NaN                       NaN    0.641026
4         Andorra   9.000000e+06                     121.0   88.695650

In [4]:
#removing numbers from strings in the Country column and
#replace with an empty string using regex
#\d means any digit
#+ means one or more digits

Energy['Country'] = Energy['Country'].str.replace(r'\d+','',regex = True)

#replace parenthesis and special characters with an empty string
#\W for White spaces
Energy['Country'] = Energy['Country'].str.replace(r'\W+\(.*\)','',regex = True)


print(Energy['Country'].unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bonaire, Sint Eustatius and Saba' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile'
 'China' 'China, Hong Kong Special Administrative Region'
 'China, Macao Special Administrative Region' 'Colombia' 'Comoros' 'Congo'
 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba' 'Curaçao'
 'Cyprus' 'Czech Republic' "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands' 'Falkland Islands' 'Fiji'
 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada'
 'Guadeloupe' 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Niue' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Réunion' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'The former Yugoslav Republic of Macedonia' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America'
 'United States Virgin Islands' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Viet Nam' 'Wallis and Futuna Islands' 'Yemen' 'Zambia'
 'Zimbabwe']

In [5]:
#Replace countries with specified labels

Energy['Country'] = Energy['Country'].replace({'United States of America':'United States',
                                               'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                                               'China, Hong Kong Special Administrative Region':'Hong Kong'})
Energy['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Hong Kong',
       'China, Macao Special Administrative Region', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### Loading the World Bank data

In [6]:
#Loading the GDP data
#exclude the header

GDP = pd.read_csv('world_bank.csv',header = 4)

GDP.head().T

,0,1,2,3,4
Country Name,Aruba,Andorra,Afghanistan,Angola,Albania
Country Code,ABW,AND,AFG,AGO,ALB
Indicator Name,GDP at market prices (constant 2010 US$),GDP at market prices (constant 2010 US$),GDP at market prices (constant 2010 US$),GDP at market prices (constant 2010 US$),GDP at market prices (constant 2010 US$)
Indicator Code,NY.GDP.MKTP.KD,NY.GDP.MKTP.KD,NY.GDP.MKTP.KD,NY.GDP.MKTP.KD,NY.GDP.MKTP.KD
1960,NaN,NaN,NaN,NaN,NaN
1961,NaN,NaN,NaN,NaN,NaN
1962,NaN,NaN,NaN,NaN,NaN
1963,NaN,NaN,NaN,NaN,NaN
1964,NaN,NaN,NaN,NaN,NaN
1965,NaN,NaN,NaN,NaN,NaN
1966,NaN,NaN,NaN,NaN,NaN
1967,NaN,NaN,NaN,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN
1970,NaN,1022871401.93761,NaN,NaN,NaN
1971,NaN,1070429536.96666,NaN,NaN,NaN
1972,NaN,1157666822.22471,NaN,NaN,NaN
1973,NaN,1247831302.28061,NaN,NaN,NaN
1974,NaN,1317944270.10389,NaN,NaN,NaN
1975,NaN,1325090206.69843,NaN,NaN,NaN
1976,NaN,1368868423.74087,NaN,NaN,NaN
1977,NaN,1407724771.11631,NaN,NaN,NaN
1978,NaN,1428319832.5687,NaN,NaN,NaN
1979,NaN,1428913249.71927,NaN,NaN,NaN
1980,NaN,1460474058.82573,NaN,NaN,5442066397.01561
1981,NaN,1458539387.76721,NaN,NaN,5754747683.12714
1982,NaN,1476719523.0981,NaN,NaN,5924431989.29393
1983,NaN,1502859168.80367,NaN,NaN,5989893305.38692
1984,NaN,1529680509.57141,NaN,NaN,5914924001.80094
1985,NaN,1565191061.36678,NaN,27308217745.3027,6020247738.65436
1986,NaN,1616111761.51642,NaN,28072847844.34,6359623744.65989
1987,NaN,1705759462.17548,NaN,30290602825.0746,6309519916.50208
1988,NaN,1792656379.78858,NaN,31986876577.434898,6219922230.18592
1989,NaN,1879188446.01576,NaN,32114824089.7994,6831747927.65999
1990,NaN,1950247955.3502,NaN,32018479611.528,6177564327.59596
1991,NaN,1999901280.7926,NaN,31634257859.5578,4349684961.91377
1992,NaN,2018484671.13457,NaN,29451494066.694099,4036507645.2428
1993,NaN,1997664169.00582,NaN,22176975036.284302,4424012379.66761
1994,NaN,2045272407.14157,NaN,22953169160.1838,4791205407.03519
1995,NaN,2101670670.58746,NaN,25340298757.128201,5428435725.51634
1996,NaN,2199392933.59256,NaN,28178412209.454498,5922423376.53832
1997,NaN,2398826713.99845,NaN,30404506776.753601,5280559675.00989
1998,NaN,2475464141.15257,NaN,32473461135.577202,5756277509.39418
1999,NaN,2576935425.08679,NaN,33525536222.4799,6533442515.91879
2000,NaN,2606977004.92985,NaN,34535350910.252602,6969002334.99895
2001,NaN,2765136580.02845,NaN,35993076035.658302,7522364217.14786
2002,NaN,2942847625.89494,8013233121.55065,33494990431.685699,7840663356.0472
2003,NaN,3296693262.49151,8689883606.077761,35252638225.950104,8293343315.50901
2004,NaN,3562720066.76084,8781610175.405741,39087976314.026398,8766856444.582331
2005,NaN,3842026792.01624,9762978844.07633,46226007691.489799,9268392517.27704
2006,NaN,4018195653.51015,10305228125.1392,55811028114.647903,9771760095.12554
2007,NaN,4021331428.40105,11721187594.2052,68420444001.499496,10348293941.5853
2008,NaN,3675727910.50681,12144482858.18,77874196512.184494,11127520474.2981
2009,NaN,3535389132.60241,14697331940.6464,79753199398.139603,11500292411.1744
2010,2467703910.61453,3346317328.52461,15936800636.248699,82470913120.7314,11926953258.916
2011,NaN,3185604581.52029,16911126453.2276,85702615836.440399,12231090567.6672
2012,NaN,3129537611.8862,19352203805.629398,90120963241.218597,12404772053.5014
2013,NaN,3127549907.58377,19731337260.637798,96261432368.264496,12542465022.372999
2014,NaN,NaN,19990317160.675598,100886286610.957993,12793314322.820499
2015,NaN,NaN,20294152243.007198,103910558934.020004,13120823169.484699

In [7]:
#Rename some countries to the specified name

GDP['Country Name'] = GDP['Country Name'].replace({'Korea, Rep.':'South Korea',
                                                   'Iran, Islamic Rep.':'Iran',
                                                   'Hong Kong SAR, China':'Hong Kong'})
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [8]:
#checking for all unique entries in the Country Name column

GDP['Country Name'].unique()

array(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'South Korea', 'Kosovo', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'Pacific island small states', 'Post-demographic dividend',
       'French Polynesia', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Middle East & North Africa (IDA & IBRD countries)', 'Timor-Leste',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'West Bank and Gaza', 'World', 'Samoa', 'Yemen, Rep.',
       'South Africa', 'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

### Loading the World Rank Data

In [9]:
#load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology

ScimEn = pd.read_excel('scimagojr-3.xlsx')

ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [10]:
#Use the top 15 countries by Scimagojr ‘Rank’ (Rank 1 through 15).

ScimEn = ScimEn[['Rank', 'Country','Documents',
                 'Citable documents','Citations',
                 'Self-citations','Citations per document',
                 'H index']].head(15)

ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [11]:
#set index to Country

ScimEn.set_index('Country', inplace = True)

ScimEn

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
Canada,6,17899,17620,215003,40930,12.01,149
Germany,7,17027,16831,140566,27426,8.26,126
India,8,15005,14841,128763,37209,8.58,115
France,9,13153,12973,130632,28601,9.93,114
South Korea,10,11983,11923,114675,22595,9.57,104
Italy,11,10964,10794,111850,26661,10.20,106
Spain,12,9428,9330,123336,23964,13.08,115
Iran,13,8896,8819,57470,19125,6.46,72
Australia,14,8831,8725,90765,15606,10.28,107
Brazil,15,8668,8596,60702,14396,7.00,86

In [12]:
#Use only the GDP data from the last 10 years (2006-2015)
#create a df containing only the specified columns

GDP = GDP[['Country Name','2006',
           '2007', '2008', '2009',
           '2010', '2011', '2012', 
           '2013','2014', '2015']]

GDP.head()

,Country Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [13]:
#rename the column Country Name to Country
#allows for common column when merging with other dfs

GDP = GDP.rename(columns = {'Country Name':'Country'})

In [14]:
# First merge ScimEn with Energy df, then merge the result with GDP

merged_df = ScimEn.merge(Energy, on='Country').merge(GDP, on = 'Country')

merged_df

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
10,Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
11,Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
12,Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
13,Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [15]:
#set the index of the merged df to Country

merged_df.set_index('Country', inplace = True)

merged_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,%Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

### The merged df returns a dataframe having 20 columns and 15 entries sorted by Rank